@using System.Web.Mvc.Html
@using Orchard.Mvc.Html
@{
  Script.Require("jQuery");

  Layout.Title = T("New Thread").ToString();
}

<h2>@Layout.Title</h2>

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    
    @Display(Model.Thread)
    @Display(Model.Post)
}