@using System.Web.Mvc.Html
@using NGM.Forum.Extensions
@using Orchard.Mvc.Html
@{
  Script.Require("jQuery");
  Style.Require("Forum").AtHead();   
  Layout.Title = T("Create Thread").ToString(); //<==not working
}

<h2>@Layout.Title</h2>
@using (Html.BeginFormAntiForgeryPost(Url.ThreadCreate(int.Parse(Request.QueryString["forumId"])), FormMethod.Post, new { @id = "thread-create" })) {
    @Html.ValidationSummary()
    
    @Display(Model.Thread)
    @Display(Model.Post)
}