@using System.Web.Mvc.Html
@using Orchard.Mvc.Html
@{
	Script.Require("jQuery");
}

@{ Layout.Title = T("New Post").ToString(); }

@using (Html.BeginFormAntiForgeryPost(Url.Action("Create", new { contentId = Request.QueryString["contentId"] }))) {
    @Html.ValidationSummary()
    // Model is a Shape, calling Display() so that it is rendered using the most specific template for its Shape type
    @Display(Model)
    
<ul class="post-body-editor-buttons">
    <li><button type="submit">Submit</button></li>
    <li><a class="btn button btn-cancel" href="@Model.ReturnUrl">Cancel</a></li>
</ul>
}
