@model NGM.Forum.Models.ThreadPart

<fieldset>
        <label for="@Html.FieldIdFor(m => m.Type)">@T("Type")</label>
        @Html.DropDownList("Type", Enum.GetNames(typeof(NGM.Forum.Models.ThreadType)).Select(o => new SelectListItem { Text = o, Value = o }))
</fieldset>