@model NGM.Forum.Models.ThreadPart

<fieldset>
        @Html.CheckBoxFor(m => m.IsSticky, new { @class="check-box"})
        <label for="@Html.FieldIdFor(m => m.IsSticky)" class="forcheckbox">@T("Is Sticky")</label>
</fieldset>