@model NGM.Forum.Models.ThreadPart

<fieldset>
        @Html.CheckBoxFor(m => m.IsClosed, new { @class="check-box"})
        <label for="@Html.FieldIdFor(m => m.IsClosed)" class="forcheckbox">@T("Is Closed")</label>
</fieldset>