@using Orchard.ContentManagement
@using Orchard.Core.Common.Models
@{
    var contentItem = (ContentItem)Model.ContentPart.ContentItem;
    var commonPart = contentItem.As<CommonPart>();
}
<div class="latestPost">
    <span class="author">@T("Latest post by {0},", commonPart.Owner.UserName)</span>
    <span class="published">@Display.PublishedState(createdDateTimeUtc: commonPart.CreatedUtc, publisheddateTimeUtc: commonPart.PublishedUtc)</span>
</div>