@using NGM.Forum.Models
@{
    var postPart = (PostPart)Model.FirstPostContentPart;

    var body = new HtmlString(Html.Excerpt(postPart.Text, 200).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>"));
}
<div class="firstPost post-content">
    @body
</div>