@using NGM.Forum.Extensions
@using NGM.Forum.Models
@using Orchard.ContentManagement
@using Orchard.Core.Common.Models
@using Orchard.UI.Navigation
@{
    var contentItem = (ContentItem)Model.Post.ContentItem;
    var commonPart = contentItem.As<CommonPart>();
    var postPart = (PostPart)Model.ContentPart;

    var pager = (Pager) Model.Pager;
}
<div class="latestPost post-metadata">
    <span class="author">@T("Latest post by {0},", commonPart.Owner.UserName)</span>
    <span class="published"><a href="@Url.PostView(postPart, pager)">@Display.PublishedState(createdDateTimeUtc: commonPart.CreatedUtc, publisheddateTimeUtc: commonPart.PublishedUtc)</a></span>
</div>