@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string title = Model.Title.ToString();
}

<div class="thread-title">@Html.ItemDisplayLink(title, contentItem) </div>