@using NGM.Forum.Models
@using NGM.Forum.Extensions
@{
    IEnumerable<object> threads = Model.ContentItems;
    ForumPart contentPart = Model.ContentPart;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("forum-threads");
}
@Display(Model.ContentItems)
@if (threads == null || threads.Count() < 1) {
    <p class="nocontentitems">@T("There are no threads for this forum. Be the first to <a href=\"{0}\">create one</a>?", Url.ThreadCreate(contentPart))</p>
} else { 
  @Display(Model.Pager)
}