@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var postPart = (PostPart)Model.ContentPart;
}

<div class="item-properties actions">
    @if (!Model.IsClosed) {
        <a href="@Url.ReplyPost(postPart)" class="create">@T("Reply")</a>
        <a href="@Url.ReplyPostWithQuote(postPart)" class="create">@T("Reply with quote")</a>
    }
</div>