@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var threadPart = (ThreadPart)Model.ContentPart;
}

<div class="item-properties status">
  @if (threadPart.IsSticky) {
      @Html.Image("~/Modules/NGM.Forum/Content/Images/forum-sticky.png", T("Is Sticky").Text, new { title = T("Is Sticky") })
  }
  @if (threadPart.IsClosed) { 
      @Html.Image("~/Modules/NGM.Forum/Content/Images/forum-locked.png", T("Is Closed").Text, new { title = T("Is Closed") })
  }
  @if (threadPart.IsClosed == false && threadPart.IsSticky == false)
  {
      @Html.Image("~/Modules/NGM.Forum/Content/Images/forum-topic.png", T("Topic").Text, new { title = T("Topic") })
  }
</div>