@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    ThreadPart threadPart = Model.ContentPart;
}
<ul class="contentItemStatus">
    @if(threadPart.IsSticky) {
        <li><img class="icon" src="@Href("~/Modules/NGM.Forum/Content/Admin/images/sticky.gif")" alt="@T("Sticky Thread")" title="@T("The thread is a Sticky Thread")" /> </li> <li>@T("Sticky Thread")&nbsp;&#124;&nbsp;</li>
    }
</ul>