@using Orchard.ContentManagement;
@{
    Style.Require("Forums");
    IEnumerable<object> threads = Model.ContentItems;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("forum-threads");
}
<div class="threads">
@Display(Model.ContentItems)
</div>
@if (threads == null || threads.Count() < 1) {
  <p class="nocontentitems">@T("There are no threads for this forum.")</p>
} else { 
<!--    
    <ul class="content-items">
    @foreach (dynamic thread in threads)
    {
        string title = thread.Title;
        ContentItem item = thread.ContentItem;
        <li class="content-item-summary">
            @Html.ItemDisplayLink(title, item)
        </li>
    }
    </ul>
  @Display(Model.Pager)
-->
}