@using NGM.Forum.Models
@using NGM.Forum.Extensions
@using Orchard.Utility.Extensions
@{
    IEnumerable<object> threads = Model.ContentItems;
    //ForumPart contentPart = Model.ContentPart;
    Model.ContentItems.Classes.Add("content-items");
    var contentTypeClassName = ((string)contentPart.ContentItem.ContentType + "-threads").HtmlClassify();
    Model.ContentItems.Classes.Add(contentTypeClassName);
}

@Display(Model.ContentItems)
@if (threads == null || threads.Count() < 1) {
    <p class="nocontentitems">@T("Txxxxxxxhere are no threads for this forum. Be the first to <a href=\"{0}\">create one</a>?")</p>
} else if ( Model.Pager.TotalItemCount > Model.Pager.PageSize ) {
    @Display( Model.Pager )   
}