@using System.Web.Mvc.Html
@using Orchard.Mvc.Html

@{
    int contentId = Model.ContentId;
}

<div class="reply">
    <h3>@T("Quick Reply")</h3>

@using (Html.BeginFormAntiForgeryPost(Url.Action("Create", "Post", new { contentId = contentId }))) {
    @Html.ValidationSummary()
    // Model is a Shape, calling Display() so that it is rendered using the most specific template for its Shape type
    @Display(Model.ContentEditor)
}
</div>