@using System.Web.Mvc.Html
@using Orchard.Mvc.Html
@{
    
    Script.Require("jQueryEffects_Slide").AtHead();
}

@*only shown if javascript enabled *@
<div class="quick-reply" style="display:none;">
    <div id="btn-add-quick-reply" class="btn-add-reply btn btn-default">@T("Quick Reply")</div>

    @using (Html.BeginFormAntiForgeryPost(Url.Action("Create", "Post"))) {
        @Html.ValidationSummary()

        <div id="content-editor">
            @Display(Model.ContentEditor)
        </div>
        <input type="hidden" id="contentid" name="contentid" value="@Model.ContentId"/>
    }
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {
            $(".quick-reply").show(); @*show if javascript enabled*@

            $("#btn-add-quick-reply").click(function () {
                $('#content-editor').toggle( "fast", function() {
                    $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
                });
            });
            $('#content-editor').hide();


        });
    //]]>

    </script>

}