@using NGM.Forum
@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var postPart = (PostPart)Model.ContentPart;
}
  
@if (!postPart.ThreadPart.IsClosed) {
    <a href="@Url.PostReply(postPart)">@T("Reply to this Thread")</a>
}