@* a hack-around to be able to identify and parse UTC datetimes since the orchard output date has no timezone indicator (like a Z for UTC) *@
<span class="author">@T("Started by {0}", Model.ContentPart.Owner.UserName)</span>

@if ( WorkContext.CurrentTimeZone == TimeZoneInfo.Utc){
    DateTime date = @Model.ContentPart.PublishedUtc;
    <span class="published utc-date-time">@date.ToString("yyyy-MM-ddTHH:mm:ss Z")</span>        
} else {
    <span class="published">@Display.PublishedState(createdDateTimeUtc: Model.ContentPart.CreatedUtc, publisheddateTimeUtc: Model.ContentPart.PublishedUtc) </span>
}
