<span class="author">@T("By {0}", Model.ContentPart.Owner.UserName)@T(",")</span>
<span class="published">@Display.PublishedState(createdDateTimeUtc: Model.ContentPart.CreatedUtc, publisheddateTimeUtc: Model.ContentPart.PublishedUtc)</span>