@using NGM.Forum.Models
@using Orchard.ContentManagement
@using Orchard.Utility.Extensions

@{    
    var threadPart = (ThreadPart)Model.ThreadPart;    
}

@*Posting multiple buttons to the same controller action and using the button name to distinguish which option was selected.  This is perhaps a bit hacksih but the needs are simple. *@

@if (threadPart.UserIsSubscribedByEmail == true ) {
    <button type="submit" class='subscription-option-button' name="sendNotificationsByEmail" value="remove-@threadPart.Id">@T("Do Not Notify by Email")</button>
} else {
    <button type="submit" class='subscription-option-button' name="sendNotificationsByEmail" value="add-@threadPart.Id">@T("Notify by Email")</button>   
}

<button type="submit" class='subscription-option-button' name="unsubscribe" value="@threadPart.Id">@T("Unsubscribe")</button>



    

