@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var threadPart = (ThreadPart)Model.ContentPart;
}

<div class="item-properties status">
  @if (threadPart.IsSticky) { 
        <img src="/Modules/NGM.Forum/Content/Images/Jhoos-Sticky-Postit-Notes.icon.gif" />
  }
</div>