@using NGM.Forum.Extensions;
@using NGM.Forum.Models;
@using Orchard.ContentManagement;
@using Orchard.Utility.Extensions;
@{
    ContentItem contentItem = Model.ContentItem;
    PostPart post = (PostPart)contentItem.Get(typeof(PostPart));
    
}
@if (!post.Approved) {
    <a href="@Url.PostApprove(post)" title="@T("Approve")">@T("Approve")</a>@T(" | ")
}