@if (!string.IsNullOrEmpty(Model.Html.ToString())) {
    var body = new HtmlString(Model.Html.ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>"));
    <p>@body</p>
}
else {
    <p class="automated-response">@T("Automated Response: I decided to write nothing.")</p>
}