@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var postPart = (PostPart)Model.ContentPart;
}
  
<a href="@Url.PostReply(postPart)" class="create">@T("Reply")</a>
<a href="@Url.PostReplyWithQuote(postPart)" class="create">@T("Reply with Quote")</a>