<div id="read-legend" class="list-no-style">
    <div class="legend-entry">
        <span class="legend-image thread-readstate newposts"></span>
        <span class="legend-title">New</span>
    </div>
    <div class="legend-entry">
        <span class="thread-readstate unread"></span>            
        <span class="legend-title">Unread</span>
    </div>
    <div class="legend-entry">
        <span class="legend-image thread-readstate read"></span>
        <span class="legend-title">Read</span>
    </div>
</div>