@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var forumPart = (ForumPart)Model.ContentPart;
}
<div class="item-properties status">
  @if (forumPart.IsClosed) {
      @Html.Image("~/Modules/NGM.Forum/Content/Images/topic_locked.png", T("Is Closed").Text, new { title = T("Is Closed") })
  }
</div>