@using NGM.Forum.Extensions
@using NGM.Forum.Models
@using Orchard.ContentManagement
@using Orchard.ContentManagement.Aspects

@{
    var postPart = (PostPart)Model.ContentPart;
    var commonPart = postPart.As<ICommonPart>();
    var username = commonPart.Owner != null ? commonPart.Owner.UserName : T("Anonymous user").Text;
}
<div class="latestpost">
    <a href="@Url.ViewLatestPost(postPart)">@T("Last Post")</a> @T("by") @username <span class="meta">@Display.DateTimeRelative(dateTimeUtc: commonPart.PublishedUtc.Value)</span>
</div>