@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var postPart = (PostPart)Model.ContentPart;
}

<div class="item-properties actions">
  <p>
    @if (!Model.IsClosed) {
        <a href="@Url.ReplyPost(postPart)" class="create">@T("Reply")</a>
    }
  </p>
</div>