
<ul id="forum-menu-items" class="list-inline">
    <li class="forum-menu-item">@Html.ActionLink( T("Subscriptions").ToString(), "ViewSubscriptions", "Subscription", new { area = "NGM.Forum" }, null )  </li>
    <li class="forum-menu-item">@Html.ActionLink( T("Discussions").ToString(), "ListDiscussions", "Discussions", new { area = "NGM.Forum" }, null )  </li>
</ul>

