@using NGM.Forum.Models
@using NGM.Forum.Extensions
@using NGM.Forum.ViewModels
@using Orchard.UI.Navigation
@using Orchard.ContentManagement
@using Html.Helpers
@using Orchard.Core.Title.Models;


@{ 
    Style.Require("forum").AtHead();
    
    string bodyHtml = Model.Html.ToString();
    //var body = new HtmlString(Html.Excerpt(bodyHtml, 200).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>"));
    String body = Html.Excerpt(bodyHtml, 200).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>");
    PostPart post = (PostPart) Model.ContentPart;
    //Pager pager = (ThreadPager) Model.Pager;
    Pager pager = (Pager)Model.Pager;
    var title = post.ThreadPart.As<TitlePart>().Title;
}
<a class="view-new-post" href="@Url.PostView(post, pager)">@T("View")</a>
<div class="search-result-thread-title">@title</div>

<p>@Html.Raw( HtmlSanitizer.sanitizer(body).html ) </p>

