@{
    Style.Require("Forums");
    IEnumerable<object> threads = Model.ContentItems;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("forum-threads");
}

@Display(Model.ContentItems)
@if (threads == null || threads.Count() < 1) {
  <p>@T("There are no threads for this forum.")</p>
} else { 
@Display(Model.Pager)
}