@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var threadPart = (ThreadPart)Model.ContentPart;
}

<div class="item-properties actions">
  <p>
    @if (!threadPart.IsClosed) {
        <a href="@Url.ReplyThread(threadPart)" class="create">@T("Reply")</a>
    }
    @else (AuthorizedFor(NGM.Forum.Permissions.CloseThread)) {
        <a href="@Url.CloseThread(threadPart)" class="close">@T("Close")</a>
    }
  </p>
</div>