@using Orchard.ContentManagement;
@using Orchard.Mvc.Html

@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    var thread = contentItem.As<NGM.Forum.Models.ThreadPart>();
    string title = Model.Title.ToString();

    string titleClass;
    string titleOver;
    
    switch(thread.Type)
    {
        case  NGM.Forum.Models.ThreadType.Question:
            if (thread.IsAnswered) {
              titleClass = "answer";
              titleOver = T("Is Answer").Text;            
            } else {
              titleClass = "question";
              titleOver = T("Is Question").Text;
            }
            break;
            
        default:
            titleClass = "discussion";
            titleOver = T("Is Discussion").Text;
            break;
    }
}

<h2 class="@titleClass" title="@titleOver">@Html.ItemDisplayLink(title, contentItem)</h2>
