@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var forumPart = (ForumPart)Model.ContentPart;
}

<div class="item-properties actions">
  <p>
    @if (!forumPart.IsClosed) {
        <a href="@Url.CreateThread(forumPart)" class="create">@T("Create Thread")</a>
    }
  </p>
</div>