@using NGM.Forum
@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var postPart = (PostPart)Model.ContentPart;
}
  
<div class="item-properties actions">
    <a href="@Url.PostReply(postPart)">@T("Reply to this Thread")</a>
</div>