@using NGM.Forum.Extensions
@using NGM.Forum.Models

<div class="item-properties actions">
  <p>
    <a href="@Url.CreateThread((ForumPart)Model.ContentPart)" class="create">@T("Create Thread")</a>
  </p>
</div>