@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var threadPart = (ThreadPart)Model.ContentPart;
}

<div class="item-properties actions">
  <p>
@*    @if (!threadPart.IsClosed) {
        <a href="@Url.ReplyThread(threadPart)" class="create">@T("Reply")</a>
    }*@
  </p>
</div>