@using NGM.Forum.Extensions
@using NGM.Forum.Models

<div class="item-properties actions">
  <p>
    <a href="@Url.ReplyPost((Orchard.ContentManagement.IContent)Model.ContentPart.ContentItem)" class="create">@T("Reply")</a>
  </p>
</div>