@using NGM.Forum.Extensions
@using NGM.Forum.Models
@using Orchard.ContentManagement
@using Orchard.ContentManagement.Aspects

@{
    var postPart = (PostPart)Model.ContentPart;

    string userName = T("Anon").Text;
    if (postPart != null){
        userName = postPart.As<ICommonPart>().Owner.UserName;
    }
    
    string bodyHtml = T("No posts yet...").Text;
    if (postPart != null) {
        bodyHtml = postPart.Text.ToString();
    }
    var body = new HtmlString(Html.Excerpt(bodyHtml, 50).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>")); 
}
@if (postPart != null) {
    <div class="latestpost">@body <strong>@T("by")</strong> @userName </div>
} else { 
    <div class="latestpost">@body</div>
}