<fieldset>
    <label for="Title_Title">Title</label>
    <input autofocus="autofocus" class="text large thread-title-part-edit" id="Title_Title" name="Title.Title" type="text" value="" />
    <span class="hint">A title is required</span>
</fieldset>
