@{
    Style.Require("Forums");
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("forums");
}
@Display(Model.ContentItems)
@if (Model.ContentItems.Items.Count < 1) {
<p>@T("No forums found.")</p>
}