@{
    Style.Require("Forums");
}
<h1>@T("Forums")</h1>

@foreach (var item in Model.ContentItems) { 
    string categoryText = item.Key ?? T("Undefined");
  
    <h2 class="forums-category">@categoryText</h2>
  
    item.Value.Classes.Add("content-items");
    item.Value.Classes.Add("forums");
    @Display(item.Value)
}

@if (Model.ContentItems.Count < 1) {
  <p class="nocontentitems">@T("No forums found.")</p>
}