@model ModerationIndexViewModel

@using NGM.Forum.ViewModels
@using Orchard.Utility.Extensions

@{
    var spamIndex = 0;

    var pageSizes = new List<int?>() { 10, 50, 100 };
    var defaultPageSize = WorkContext.CurrentSite.PageSize;
    if (!pageSizes.Contains(defaultPageSize)) {
        pageSizes.Add(defaultPageSize);
    }
}

<h1>@Html.TitleForPage(T("Inbox").ToString()) </h1>
@using (Html.BeginFormAntiForgeryPost()) { 
    @Html.ValidationSummary()
    <div class="manage"></div>

  
   }

    <fieldset class="contentItems bulk-items">
            @foreach (var entry in Model.Items) { 
                @Display(entry.Shape)
                spamIndex++;
            }
	@Display(Model.Pager)
    </fieldset>
} 