.threads li
{
	height: 85px;
}

.forum header, .thread header
{
	width: 75%;
	float: left;
}

.thread header h2 { background: transparent none no-repeat left center; padding-left: 18px; }
.thread header h2.question { background-image: url('../Content/Images/status_NotAnswered.gif'); }
.thread header h2.discussion { background-image: url('../Content/Images/Discussion-small.gif'); }

.post header
{
	width: 100%;
	float: none;	
}

.latestpost
{
	clear: left;
}

.forum div
{
	margin: 10px 0px 0px 0px;
}

.forum .thread-list
{
	clear:left;
}

.thread-posts
{
	clear: left;
}

.owner-metadata
{
	float: left;
    padding-right: 5px;
    font-weight: bold;
}