.forum > header, .thread > header {
  width: 75%;
  float: left;
  padding-left: 3px;
}

.forum div {
  margin: 10px 0px 0px 0px;
}

.forum .forum-threads {
  clear:left;
  width:100%;
}

.thread header h2 { background: transparent none no-repeat left center; padding-left: 18px; }
.thread header h2 a { padding-left:10px; display:block; }
.thread header h2.question { background-image: url('../Content/Images/status_NotAnswered.gif'); }
.thread header h2.answer { background-image: url('../Content/Images/status_Answered.gif'); }
.thread header h2.discussion { background-image: url('../Content/Images/Discussion-small.png'); }

.latestpost {
  clear: left;
}

.thread-posts {
  clear: left;
}

.thread-posts .first article {
  border: 0;
}

.threads li {
  height: 85px;
}

.post header {
  float: none;  
}

.post .owner-metadata {
  padding-right: 20px;
  float: left;
}

.post .actions {
  clear: left;
}

.post .actions > a {
    color: #888888;
    padding: 0px 3px 2px 3px;
}

.post .actions > a:hover {
    color: #FFFFFF;
    background-color: #777777;
}

.latestpost > a {
    color: #888888;
    padding: 0px 3px 2px 3px;	
}

.latestpost > a:hover {
    color: #FFFFFF;
    background-color: #777777;
}

.item-text p {
  /* The following styles prevent unbroken strings from breaking the layout */
  overflow: auto;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  -moz-binding: url('xbl.xml#wordwrap'); /* Firefox (using XBL) */
}

.item-text blockquote {
  background-color : #F8F8F8;
  font-weight: bold;
  font-style: italic;
  margin: 1em 3em; }
.item-text blockquote p:before {
  content: '"'; }
.item-text blockquote p:after {
  content: '"'; }

/* Common */  
.owner-metadata {
  font-weight: bold;
}

/* Pager */
.thread .pager {
  overflow: hidden;
}